.container {
  min-height: 100vh;
  padding-top: 50px;
  margin-left: 170px;
  max-width: 100%;
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
