.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: calc(100vh - 62px);
  position: relative;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;
}

.post-container .img-container .main-img-container {
  align-items: flex-start;
  max-height: auto;
  display: flex;
  justify-content: center;
}

.post-container .img-container .main-img-container img {
  max-height: 95vh;
  max-width: 100%;
  -moz-box-shadow: 4px 4px 20px rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: 4px 4px 20px rgba(10, 10, 10, 0.8);
  box-shadow: 4px 4px 20px rgba(10, 10, 10, 0.8);
}

.post-container .img-loading {
  transform: scale(0.8);
  opacity: 0;
}

.post-container .img-loaded {
  transform: scale(1);
  opacity: 1;
  transition: transform ease 1s;
  transition: opacity ease 1s;
}

.post-container .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container .img-container .arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 50px;
  transition: background ease 0.3s;
}

.post-container .img-container .arrow-hide {
  opacity: 0;
  width: 50px;
  margin: 20px 0px 20px 0px;
  cursor: default;
}

.post-container .img-container .arrow:hover {
  background: #d3d3d3;
}

.post-container .img-container .arrow img {
  transition: transform ease-in 0.1s;
}

.post-container .img-container .arrow:hover img {
  transform: scale(1.2);
}

.post-container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  margin: 25px 0 25px 0;
  text-align: left;
  color: black;
}

.post-container .card .title-container {
  margin: 0 15px 0 15px;
}

.post-container .card p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
}
.post-container .title {
  /*padding-top: 25px;*/
  font-weight: 500;
  font-size: large;
  font-style: italic;
}

.post-container .loading {
  opacity: 0;
}
.post-container .loaded {
  transition: all ease 1s;
  opacity: 1;
}

.back {
  margin: 10px 0 10px 0;
  align-self: flex-start;
  display: inline-block;
  width: auto;
  padding-left: 25px;
  font-size: medium;
}

.back:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Margin by pixel:*/
@media screen and (max-width: 720px) {
  .post-container .img-container .main-img-container img {
    max-height: 70vh;
  }
}
